.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .booking-list {
    list-style: none;
    padding: 0;
  }
  
  .booking-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .loading {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Add styles for the welcome message */
.welcome-message {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;  */
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Change color as needed */
  }